*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: ;
}

body
{
    background-color: rgb(222, 222, 222);
    font-family:"Quicksand", Arial, sans-serif;
    font-weight: 400;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
}

/* Navbar */
#navbar
{
    padding: 20px;
   display:flex;
   align-items: center;
   justify-content: space-around; 
}
logo{
    color:black;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;

}
span{
    color: burlywood;
}
#navbar ul{
    list-style-type: none;
    display: inline block;
    padding: 10px 25px;

}
#navbar a
{
    text-decoration: none;
    color:rgb(53, 16, 0);
    font-weight: bold;
    

}
#navbar a:hover
{
    color:red;
    transition: 3s;

}

#navbar li
{
    font-size: 20px;
    padding: 20px;
    display: inline;
}
.btn{
    background-color: red;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition:transform 4s;
}
.btn:hover{
    transform:scale(1.2);
}
h1  {
    color: #000;
    font-family: "Quicksand", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 30px 0; }

/* Landing Page */
.landing-page
{
    height: 100vh; 
    width: 100%;
    background-image: url(../images/take2.jpeg);
    background-size: cover;
    background-position: center;

}

.landing-page .left
{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 15px;
}
.landing-page img
{

   width: 30%;

}

.landing-page .right
{
    position: absolute;
    top: 50%;
    width: 50%;
    text-align: center;
    font-style: "Quicksand", Arial, sans-serif;
    font-size: 20px;
    

}

.right h1
{
   font-size: 30px;
   color: white;
}

.right p
{
   font-size: 20px;
   color: white;
}
center{
    text-align: center;
    position:center;
}

/* Footer */
.footer
{
    background-color: #0b000002;
    color:rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.about{
    width: 100%;
    padding: 100px 0;

}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;

}
.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: black;
    font-size: 55px;
    text-transform: capitalize;
    margin-bottom: 20px;

    
}
.about-text h5{
    color: rgb(65, 38, 2);
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #000;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: red;
    color: black;
    text-decoration: none;
    border: 2px;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;

}
button:hover{
    background-color: transparent;
    border: 2px solid;
    cursor: pointer;
}
<!----services------>
.service{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: rgb(5, 4, 0);
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;

}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: rgb(209, 181, 145);
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;

}
.card i{
    font-size: 50px;
     display: block;
     text-align: center;
    margin: 25px 0px;
    color: #101010;

}
h5{
    color: black;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: darkblue;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    background-color: red;
    color: black;
    text-decoration: none;
    border: 2px;
    font-weight: bold;
    padding: 13px 22px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;  
}
.contact me{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact me p{
    color:rgba(15, 0, 128, 0.384);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    


}
.contact me .button-two{
    background-color: red;
    color: black;
    text-decoration: none;
    border: 2px;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.contact me .button-two :hover{
    background-color: transparent;
    border: 2px solid;
    cursor: pointer;
}



.footer p
{
  margin-top: 10px;
  

}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}

.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:#f9004d;
	bottom: 35px;
	font-size: 14px; 
}
Footer
© 2022 .
Footer navigation
Terms
